<table class="table">
   <thead>
      <tr>
         <th>ID</th>
         <th>Name</th>
         <th>Description</th>
         <th>State</th>
         <th>Memory Allocation</th>
         <th>Monthly Cost</th>
         <th>Status</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let faasStatus of faasStatusLists">
         <td>{{faasStatus.faasInfo.id}}</td>
         <td>{{faasStatus.faasInfo.name}}</td>
         <td>{{faasStatus.faasInfo.description}}</td>
         <td>{{faasStatus.faasUsage.state}}</td>
         <td [class.yellow]="faasStatus.memoryAllocationThreshold == '>10'"
             [class.red]="faasStatus.memoryAllocationThreshold == '>20'">
            {{faasStatus.totalMemoryAllocation | vmwMemoryFormat}}
         </td>
         <td>{{faasStatus.totalMonthlyCost | currency : 'USD'}}</td>
         <td *ngIf="faasStatus.faasUsage.enabled; else disabled">
            <a href="#"
               class="label label-success clickable">Enabled</a>
         </td>
         <ng-template #disabled>
            <td>
               <a href="#"
                  class="label label-danger clickable">Disabled</a>
            </td>
         </ng-template>
      </tr>
   </tbody>
</table>
