<table class="table">
   <thead>
      <tr>
         <th>ID</th>
         <th>Name</th>
         <th>Description</th>
         <th>State</th>
         <th>Memory Allocation</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let faasStatus of faasStatusLists">
         <td>{{faasStatus.faasInfo.id}}</td>
         <td>{{faasStatus.faasInfo.name}}</td>
         <td>{{faasStatus.faasInfo.description}}</td>
         <td>{{faasStatus.faasUsage.state}}</td>
         <td [class.yellow]="faasStatus.memoryAllocationThreshold == '>10'"
             [class.red]="faasStatus.memoryAllocationThreshold == '>20'">
            {{faasStatus.totalMemoryAllocation | vmwMemoryFormat}}
         </td>
      </tr>
   </tbody>
</table>
